<!-- Sản phẩm nổi bật -->
<section class="products container mt-5">
    <h1 class="main_title">SẢN PHẨM ĐANG HOT <i class="fa fa-fire" style="color: red;"></i></h1>
    <div class="owl-carousel owl-theme mt-3">

        <div class="item">
            <div class="item__content">
                <img src="~/app/img/macbookpro.jpg" alt="">
                <div class="item__content__hover">

                </div>
            </div>
            <div class="item__details">
                <a href="/">Macbook</a>
                <span>41.990.000$</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/AsusROG.jpg" alt="">
                <div class="item__content__hover">

                </div>
            </div>
            <div class="item__details">
                <a href="/">Asus ROG Strix</a>
                <span>24.990.000$</span>
            </div>

        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/banphimDerue.jpg" alt="">
                <div class="item__content__hover">

                </div>
            </div>
            <div class="item__details">
                <a href="/">Bàn phím Dereu</a>
                <span>690.000$</span>
            </div>

        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/chuotasusrog.jpg" alt="">
                <div class="item__content__hover">

                </div>
            </div>
            <div class="item__details">
                <a href="/">Chuột Asus ROG</a>
                <span>900.000$</span>
            </div>

</section>
