@using ProjectCCS.Models
@using System.Globalization
@{
    ViewBag.Title = "BuildPC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Dashbroad for user -->
<section class="user history-main container flex">
    <h1>VVVVVV</h1>
    <h1>Test</h1>
</section>

