@using ProjectCCS.Models
@using System.Globalization
@{
    ViewBag.Title = "BuildPC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Dashbroad for user -->
<h1 style="color:#333;border:none;float:left;margin: 0 0 15px 0px;font-weight: bold">Xây Dựng Cấu Hình Máy Tính - Build PC Chuyên Nghiệp</h1>
<section class="user history-main container flex">

    <div class="build-pc_content">
        <div class="clearfix"></div>
        <div class="clear"></div>

        <div class="km-buildpc justify-content-end mt-2">

            <div class="js-buildpc-promotion-content" style="margin-bottom: 0px;"></div>
        </div>

        <div class="list-drive" id="js-buildpc-layout">
            <div class="item-drive">
                <span class="d-name">1. Bộ vi xử lý</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-2" data-info="{&quot;id&quot;:2,&quot;name&quot;:&quot;Bộ vi xử lý&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Bộ vi xử lý</span>
                    <div id="js-selected-item-2"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">2. Bo mạch chủ</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-3" data-info="{&quot;id&quot;:3,&quot;name&quot;:&quot;Bo mạch chủ&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Bo mạch chủ</span>
                    <div id="js-selected-item-3"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">3. RAM</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-4" data-info="{&quot;id&quot;:4,&quot;name&quot;:&quot;RAM&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn RAM</span>
                    <div id="js-selected-item-4"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">4. Ổ Cứng SSD</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-16" data-info="{&quot;id&quot;:16,&quot;name&quot;:&quot;Ổ Cứng SSD&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Ổ Cứng SSD</span>
                    <div id="js-selected-item-16"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">5. Ổ Cứng HDD</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-15" data-info="{&quot;id&quot;:15,&quot;name&quot;:&quot;Ổ Cứng HDD&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Ổ Cứng HDD</span>
                    <div id="js-selected-item-15"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">6. VGA</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-6" data-info="{&quot;id&quot;:6,&quot;name&quot;:&quot;VGA&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn VGA</span>
                    <div id="js-selected-item-6"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">7. Nguồn</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-7" data-info="{&quot;id&quot;:7,&quot;name&quot;:&quot;Nguồn&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Nguồn</span>
                    <div id="js-selected-item-7"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">8. Vỏ Case</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-8" data-info="{&quot;id&quot;:8,&quot;name&quot;:&quot;Vỏ Case&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Vỏ Case</span>
                    <div id="js-selected-item-8"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">9. Quạt Tản Nhiệt</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-22" data-info="{&quot;id&quot;:22,&quot;name&quot;:&quot;Quạt Tản Nhiệt&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Quạt Tản Nhiệt</span>
                    <div id="js-selected-item-22"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">10. Tản Nhiệt CPU</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-17" data-info="{&quot;id&quot;:17,&quot;name&quot;:&quot;Tản Nhiệt CPU&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Tản Nhiệt CPU</span>
                    <div id="js-selected-item-17"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">11. Tản Nhiệt Nước AIO</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-28" data-info="{&quot;id&quot;:28,&quot;name&quot;:&quot;Tản Nhiệt Nước AIO&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Tản Nhiệt Nước AIO</span>
                    <div id="js-selected-item-28"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">12. Màn Hình</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-9" data-info="{&quot;id&quot;:9,&quot;name&quot;:&quot;Màn Hình&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Màn Hình</span>
                    <div id="js-selected-item-9"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">13. Bàn phím</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-18" data-info="{&quot;id&quot;:18,&quot;name&quot;:&quot;Bàn phím&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Bàn phím</span>
                    <div id="js-selected-item-18"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">14. Chuột</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-19" data-info="{&quot;id&quot;:19,&quot;name&quot;:&quot;Chuột&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Chuột</span>
                    <div id="js-selected-item-19"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">15. Tai Nghe</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-26" data-info="{&quot;id&quot;:26,&quot;name&quot;:&quot;Tai Nghe&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Tai Nghe</span>
                    <div id="js-selected-item-26"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">16. Bàn Máy Máy Tính</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-74" data-info="{&quot;id&quot;:74,&quot;name&quot;:&quot;Bàn Máy Máy Tính&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Bàn Máy Máy Tính</span>
                    <div id="js-selected-item-74"></div>
                </div>
            </div><div class="item-drive">
                <span class="d-name">17. Ghế Gaming</span>
                <div class="drive-checked">
                    <span class="show-popup_select span-last open-selection" id="js-category-info-90" data-info="{&quot;id&quot;:90,&quot;name&quot;:&quot;Ghế Gaming&quot;}"><i class="fa fa-plus" aria-hidden="true"></i> Chọn Ghế Gaming</span>
                    <div id="js-selected-item-90"></div>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <p style="float:right; font-size:18px; color:#d00; margin:15px 0;">Chi phí dự tính: <span class="js-config-summary"><span class="total-price-config">0 đ</span><p> </p></span></p>

        <div class="clear"></div>

        <div class="clearfix">
            <div class="js-buildpc-promotion-content" style="margin-bottom: 0px;float: none;display: flex;justify-content: end;"></div>

            <ul class="list-btn-action" id="js-buildpc-action" style="width: 100%;margin-top: 15px;">
                <li style="background: #ce0707;"><span data-action="add-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm vào giỏ hàng </span></li>
            </ul>
        </div>
    </div>
</section>



