@model ProjectCCS.Model.ResetPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="quenmatkhau container">
    <table align="center" ">
        <h4 class="text-center" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #5a88ca; font-size: 30px; margin-top: 20px">QUÊN MẬT KHẨU</h4>
        @using (Html.BeginForm())
        {
            <tr style="height:50px">
                <td style="margin-right:20px">Vui lòng nhập Email dùng để đăng ký tài khoản</td>
            </tr>

            <td style="width:640px">
                @Html.TextBox("Email", "", new { placeholder = "Vui lòng nhập địa chỉ E-mail" })
            </td>

            <tr style="text-align:center">
                <td>
                    <input type="submit" value="Gửi" class="button" />
                </td>
            </tr>
        }
    </table>
</div>
<style>
    .quenmatkhau {
        margin-top: 100px;
        border: 2px solid #5a88ca;
        width: 700px;
        border-radius: 10px;
        height: 240px;
        margin-bottom: 170px;
    }
</style>

