@using ProjectCCS.Models
@using System.Globalization
@{
    ViewBag.Title = "NewFeeds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Dashbroad for user -->
<section class="user history-main container flex">
            
</section>

