@using ProjectCCS.Models
@using System.Globalization
@{
    ViewBag.Title = "NewFeeds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Dashbroad for user -->
<section class="user history-main container flex">
    <article class="blog-item">
        <div class="row">
            <div class="col-lg-5">
                <div class="blog-item-thumbnail">
                    <a href="/chip-intel-la-gi">

                        <picture>
                            <source media="(max-width: 480px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/chip-intel-la-gi-1.jpg?v=1670488530257">
                            <source media="(min-width: 481px) and (max-width: 767px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/chip-intel-la-gi-1.jpg?v=1670488530257">
                            <source media="(min-width: 768px) and (max-width: 1023px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/chip-intel-la-gi-1.jpg?v=1670488530257">
                            <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/chip-intel-la-gi-1.jpg?v=1670488530257">
                            <source media="(min-width: 1200px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/chip-intel-la-gi-1.jpg?v=1670488530257">
                            <img src="//bizweb.dktcdn.net/100/329/122/articles/chip-intel-la-gi-1.jpg?v=1670488530257" style="max-width:100%;" class="img-responsive" title="Chip Intel là gì? Điểm danh thế hệ CPU intel mới nhất và giải mã ký tự trên các dòng chip Intel" alt="Chip Intel là gì? Điểm danh thế hệ CPU intel mới nhất và giải mã ký tự trên các dòng chip Intel">
                        </picture>

                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="blog-item-info">

                    <h3 class="blog-item-name">
                        <a href="/chip-intel-la-gi">Chip Intel là gì? Điểm danh thế hệ CPU intel mới nhất và giải mã ký tự trên các dòng chip Intel</a>
                    </h3>
                    <div class="date">
                        <i class="fa fa-clock-o"></i> Thursday,
                        <div class="news_home_content_short_time">
                            08/12/2022
                        </div>
                        <span class="cmt_count_blog">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>

                    </div>
                    <p class="blog-item-summary">   Chip Intel là gì? Đây được xem là bộ vi xử lý được dùng trong máy tính bàn, PC, laptop, có khả năng đáp ứng tất cả những gì mà người dùng mong muốn. Trong bài viết này, Memoryzone mời bạn cùng tìm hiểu các dòng chip...</p>
                </div>
            </div>
        </div>
    </article>
    <div class="col-sm-12 blog_xxx">
        <article class="blog-item">
            <div class="row">
                <div class="col-lg-5">
                    <div class="blog-item-thumbnail">
                        <a href="/tren-tay-ssd-samsung-990-pro-chien-binh-moi-trong-dong-flagship-2022">

                            <picture>
                                <source media="(max-width: 480px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/ss-990-pro-bia.jpg?v=1669969576323">
                                <source media="(min-width: 481px) and (max-width: 767px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/ss-990-pro-bia.jpg?v=1669969576323">
                                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/ss-990-pro-bia.jpg?v=1669969576323">
                                <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/ss-990-pro-bia.jpg?v=1669969576323">
                                <source media="(min-width: 1200px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/ss-990-pro-bia.jpg?v=1669969576323">
                                <img src="//bizweb.dktcdn.net/100/329/122/articles/ss-990-pro-bia.jpg?v=1669969576323" style="max-width:100%;" class="img-responsive" title="Trên tay SSD SAMSUNG 990 PRO - Chiến binh mới trong dòng Flagship 2022" alt="Trên tay SSD SAMSUNG 990 PRO - Chiến binh mới trong dòng Flagship 2022">
                            </picture>

                        </a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="blog-item-info">

                        <h3 class="blog-item-name">
                            <a href="/tren-tay-ssd-samsung-990-pro-chien-binh-moi-trong-dong-flagship-2022">Trên tay SSD SAMSUNG 990 PRO - Chiến binh mới trong dòng Flagship 2022</a>
                        </h3>
                        <div class="date">
                            <i class="fa fa-clock-o"></i> Friday,
                            <div class="news_home_content_short_time">
                                02/12/2022
                            </div>
                            <span class="cmt_count_blog">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>

                        </div>
                        <p class="blog-item-summary">
                            Bên cạnh SanDisk, Samsung là một trong những cái tên kỳ cựu trong làng sản xuất  ổ cứng SSD . Và mới đây Samsung lại tiếp tục cho ra mắt sản phẩm mới mang tên  SSD Samsung 990 Pro . Nếu bạn...
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="col-sm-12 blog_xxx">
        <article class="blog-item">
            <div class="row">
                <div class="col-lg-5">
                    <div class="blog-item-thumbnail">
                        <a href="/top-4-cach-bat-mic-laptop-may-tinh">

                            <picture>
                                <source media="(max-width: 480px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/cach-bat-mic-laptop-may-tinh.jpg?v=1669835504677">
                                <source media="(min-width: 481px) and (max-width: 767px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/cach-bat-mic-laptop-may-tinh.jpg?v=1669835504677">
                                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/cach-bat-mic-laptop-may-tinh.jpg?v=1669835504677">
                                <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/cach-bat-mic-laptop-may-tinh.jpg?v=1669835504677">
                                <source media="(min-width: 1200px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/cach-bat-mic-laptop-may-tinh.jpg?v=1669835504677">
                                <img src="//bizweb.dktcdn.net/100/329/122/articles/cach-bat-mic-laptop-may-tinh.jpg?v=1669835504677" style="max-width:100%;" class="img-responsive" title="Top 4+ Cách bật mic laptop, máy tính trong tích tắc và đơn giản nhất" alt="Top 4+ Cách bật mic laptop, máy tính trong tích tắc và đơn giản nhất">
                            </picture>

                        </a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="blog-item-info">

                        <h3 class="blog-item-name">
                            <a href="/top-4-cach-bat-mic-laptop-may-tinh">Top 4+ Cách bật mic laptop, máy tính trong tích tắc và đơn giản nhất</a>
                        </h3>
                        <div class="date">
                            <i class="fa fa-clock-o"></i> Thursday,
                            <div class="news_home_content_short_time">
                                01/12/2022
                            </div>
                            <span class="cmt_count_blog">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>

                        </div>
                        <p class="blog-item-summary">
                            Ngày nay, việc thực hiện các cuộc họp, hội nghị, lớp học,... hay thậm chí là video call với người thân, bạn bè thông qua máy tính, laptop đang trở nên phổ biến. Thế nên, micro có vai trò quan trọng khi thu nhận âm...
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="col-sm-12 blog_xxx">
        <article class="blog-item">
            <div class="row">
                <div class="col-lg-5">
                    <div class="blog-item-thumbnail">
                        <a href="/bat-mi-cach-doi-mat-khau-may-tinh-win-10-win-11">

                            <picture>
                                <source media="(max-width: 480px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/goi-ngay-4ddefa29-a2e8-416a-9b30-2dd47c6f1206.png?v=1669810358117">
                                <source media="(min-width: 481px) and (max-width: 767px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/goi-ngay-4ddefa29-a2e8-416a-9b30-2dd47c6f1206.png?v=1669810358117">
                                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/goi-ngay-4ddefa29-a2e8-416a-9b30-2dd47c6f1206.png?v=1669810358117">
                                <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/goi-ngay-4ddefa29-a2e8-416a-9b30-2dd47c6f1206.png?v=1669810358117">
                                <source media="(min-width: 1200px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/goi-ngay-4ddefa29-a2e8-416a-9b30-2dd47c6f1206.png?v=1669810358117">
                                <img src="//bizweb.dktcdn.net/100/329/122/articles/goi-ngay-4ddefa29-a2e8-416a-9b30-2dd47c6f1206.png?v=1669810358117" style="max-width:100%;" class="img-responsive" title="“Bật mí” cách đổi mật khẩu máy tính Win 10, Win 11" alt="“Bật mí” cách đổi mật khẩu máy tính Win 10, Win 11">
                            </picture>

                        </a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="blog-item-info">

                        <h3 class="blog-item-name">
                            <a href="/bat-mi-cach-doi-mat-khau-may-tinh-win-10-win-11">“Bật mí” cách đổi mật khẩu máy tính Win 10, Win 11</a>
                        </h3>
                        <div class="date">
                            <i class="fa fa-clock-o"></i> Wednesday,
                            <div class="news_home_content_short_time">
                                30/11/2022
                            </div>
                            <span class="cmt_count_blog">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>

                        </div>
                        <p class="blog-item-summary">
                            Đặt mật khẩu cho  điện thoại ,  máy tính  là cách để người dùng bảo vệ quyền riêng tư của mình và những bảo mật liên quan đến dữ liệu công việc. Điều này là vô cùng cần thiết và khuyến khích...
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="col-sm-12 blog_xxx">
        <article class="blog-item">
            <div class="row">
                <div class="col-lg-5">
                    <div class="blog-item-thumbnail">
                        <a href="/mainboard-la-gi">

                            <picture>
                                <source media="(max-width: 480px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/mainboard-la-gi.jpg?v=1669869401500">
                                <source media="(min-width: 481px) and (max-width: 767px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/mainboard-la-gi.jpg?v=1669869401500">
                                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/mainboard-la-gi.jpg?v=1669869401500">
                                <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/mainboard-la-gi.jpg?v=1669869401500">
                                <source media="(min-width: 1200px)" srcset="//bizweb.sapocdn.net/thumb/large/100/329/122/articles/mainboard-la-gi.jpg?v=1669869401500">
                                <img src="//bizweb.dktcdn.net/100/329/122/articles/mainboard-la-gi.jpg?v=1669869401500" style="max-width:100%;" class="img-responsive" title="Mainboard là gì? Cấu tạo, chức năng và tiêu chí chọn mainboard phù hợp cho bạn" alt="Mainboard là gì? Cấu tạo, chức năng và tiêu chí chọn mainboard phù hợp cho bạn">
                            </picture>

                        </a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="blog-item-info">

                        <h3 class="blog-item-name">
                            <a href="/mainboard-la-gi">Mainboard là gì? Cấu tạo, chức năng và tiêu chí chọn mainboard phù hợp cho bạn</a>
                        </h3>
                        <div class="date">
                            <i class="fa fa-clock-o"></i> Thursday,
                            <div class="news_home_content_short_time">
                                01/12/2022
                            </div>
                            <span class="cmt_count_blog">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>

                        </div>
                        <p class="blog-item-summary">  Nếu như CPU được biết đến là bộ não xử lý trên  máy tính ,  laptop  thì Mainboard sẽ là xương sống giúp thiết bị hoạt động hiệu quả. Vậy thực chất Mainboard là gì? Cấu tạo và chức năng của Mainboard như thế nào?...</p>
                    </div>
                </div>
            </div>
        </article>
    </div>

</section>

