
@{
    ViewBag.Title = "PaymentSucces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="detail-product flex container">
    <div class="right-side">
        <!-- Contains cart, price, quantily 75% -->
        <h3 class="product-name">Thanh toán đơn hàng thành công</h3>
        <a href="@Url.Action("HistoryCart","Home")" class="button">Xem đơn hàng</a>
    </div>
</section>