
@{
    ViewBag.Title = "PaymentFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="detail-product flex container">
    <div class="right-side">
        <!-- Contains cart, price, quantily 75% -->
        <h3 class="product-name">Thanh toán đơn hàng thất bại</h3>
        <a href="@Url.Action("Index","Home")" class="button">Về trang chủ</a>
    </div>
</section>