@using ProjectCCS.Models
@using System.Globalization
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}       

<!-- Dashbroad for user -->
<section class="user history-main container flex">
    <h1>Vui lòng kiểm tra hộp thư Mail</h1>
</section>

