@using ProjectCCS.Models
@using System.Globalization
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}       

<!-- Dashbroad for user -->
<section class="detail-product flex container">
    <div class="right-side">
        <!-- Contains cart, price, quantily 75% -->
        <h3 class="product-name">Vui lòng kiểm tra hộp thư Mail để cập nhật lại mật khẩu!</h3>
        <a href="https://mail.google.com/" class="button">Truy cập Email</a>
    </div>
</section>

